<app-modal [showModal]="showModal">
    <div class="bg-white p-4 rounded shadow">
        <div class="mt-2">
            <div>
                <p class="text-gray-800 font-semibold py-1 px-2 bg-gray-100 border rounded border-gray-200 text-lg"> Creando un nuevo desecho </p>
                <input [(ngModel)]="descripcion" type="text" class="border py-2 mt-2 rounded shadow w-full focus:outline-none px-3" placeholder="Ej. Acumulado del mes anterior">
            </div>
            <div class="flex items-center mt-2">
                <input [(ngModel)]="cantidad" type="number" class="border py-2 px-3 rounded shadow focus:outline-none w-1/4" placeholder="Ej 1.23">
                <span class="text-gray-400 ml-2"> Kg </span>
            </div>
        </div>
        <!-- Footer -->
        <div class="flex mt-4">
            <button class="bg-secondary-800 text-white p-2 text-sm font-semibold rounded shadow w-full focus:outline-none hover:bg-secondary-700" (click)="nuevoDesecho()"> Crear </button>
            <button class="bg-gray-500 text-white p-2 rounded text-sm font-semibold shadow w-full ml-4 focus:outline-none hover:bg-gray-400" (click)="showModal = false"> Cancelar </button>
        </div>
    </div>
</app-modal>
<app-tarjeta-lista>
    <div class="antialiased font-sans bg-white">
        <div class="container mx-auto px-4 sm:px-8">
            <div class="py-4">

                <div class="md:flex md:items-center md:justify-between">
                    <div>
                        <h2 class="text-2xl font-semibold leading-tight text-gray-600"> Lista de desechos </h2>
                        <p class="text-gray-600"> Cantidad total: {{ cantidadTotal | moneda }} Kg </p>
                    </div>
                    <div class="flex items-center mt-2 lg:mt-0">
                        <!-- <app-boton-reportes (click)="generarReporte()"></app-boton-reportes> -->
                        <button (click)="completarDesechos()" title="Realizar cierre" class="mr-3 border focus:outline-none hover:text-secondary-500 border-gray-300 bg-gray-100 text-gray-800 p-2 rounded shadow">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                        </button>
                        <app-boton-generico (click)="abrirModal()"> Nuevo desecho </app-boton-generico>
                    </div>
                </div>
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr>
                                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        <div class="flex items-center focus:outline-none">
                                            <span> Icono </span>
                                        </div>
                                    </th>
                                    <th (click)="ordenarPorColumna('createdAt')" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        <div class="cursor-pointer flex items-center  focus:outline-none">
                                            <span> Fecha </span>
                                            <span class="ml-2">
                                                <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                                <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                                <svg *ngIf="ordenar.columna != 'createdAt'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th (click)="ordenarPorColumna('descripcion')" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        <div class="cursor-pointer w-max flex focus:outline-none">
                                            <span> Descripción </span>
                                            <span class="ml-2">
                                                <svg *ngIf="ordenar.columna == 'descripcion' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                                <svg *ngIf="ordenar.columna == 'descripcion' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                                <svg *ngIf="ordenar.columna != 'descripcion'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                                </span>
                                        </div>
                                    </th>
                                    <th (click)="ordenarPorColumna('cantidad')" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        <div class="cursor-pointer w-max flex items-center focus:outline-none">
                                            <span> Cantidad </span>
                                            <span class="ml-2">
                                                <svg *ngIf="ordenar.columna == 'cantidad' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                                <svg *ngIf="ordenar.columna == 'cantidad' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                                <svg *ngIf="ordenar.columna != 'cantidad'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Acción
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="animate__animated animate__fadeIn" *ngFor="let desecho of desechos | filtroDesechos:filtro.parametro:filtro.activo | paginate: {itemsPerPage: cantidadItems, currentPage: paginaActual}">
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            <img class="w-10 h-10" src="assets/img/desechos/desecho.png" alt="Mayorista">
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ desecho.createdAt | fecha }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ desecho.descripcion }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ desecho.cantidad | moneda }} Kg
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs text-center">
                                        <app-boton-tabla title="Eliminar desecho" (click)="eliminarDesecho(desecho._id)">
                                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                        </app-boton-tabla>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between          ">
                            <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="paginaActual = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-tarjeta-lista>