<app-tarjeta-lista>
    <app-encabezado-formulario titulo="Historial de ventas" subTitulo="Ventas activas" dirRegresar="/dashboard/ventas"></app-encabezado-formulario>
    <div class="antialiased font-sans bg-white">
        <div class="container mx-auto px-4 sm:px-4">
            <div class="py-2">
                <div class="flex items-center mt-2">
                    <p *ngIf="ventas.length != 0" class='text-gray-600 py-1 px-2 border border-gray-200 rounded bg-gray-100'> <span class="font-semibold"> Total de ventas: </span> {{ ventas.length }} </p>
                    <p *ngIf="montoTotal != 0" class='text-gray-600 ml-2 py-1 px-2 border border-gray-200 rounded bg-gray-100'> <span class="font-semibold"> Monto total:  </span> ${{ montoTotal | moneda }} </p>
                </div>
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr>
                                    <th (click)="ordenarPorColumna('createdAt')" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        <div class="cursor-pointer flex items-center focus:outline-none">
                                            <span>
                                                Fecha
                                            </span>
                                            <span class="ml-1">
                                                <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                                <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                                <svg *ngIf="ordenar.columna != 'createdAt'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th (click)="ordenarPorColumna('forma_pago')" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        <div class="cursor-pointer flex items-center focus:outline-n one">
                                            <span> Forma de pago </span>
                                            <span class="ml-1">
                                                <svg *ngIf="ordenar.columna == 'forma_pago' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                                <svg *ngIf="ordenar.columna == 'forma_pago' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                                <svg *ngIf="ordenar.columna != 'forma_pago'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th (click)="ordenarPorColumna('precio_total')" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        <div class="cursor-pointer flex items-center focus:outline-none">
                                            <span> Monto total </span>
                                            <span class="ml-1">
                                                <svg *ngIf="ordenar.columna == 'precio_total' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                                <svg *ngIf="ordenar.columna == 'precio_total' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                                <svg *ngIf="ordenar.columna != 'precio_total'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th (click)="ordenarPorColumna('usuario_creacion')" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        <div class="cursor-pointer flex items-center focus:outline-none">
                                            <span> Usuario creador </span>
                                            <span class="ml-1">
                                                <svg *ngIf="ordenar.columna == 'usuario_creacion' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                                <svg *ngIf="ordenar.columna == 'usuario_creacion' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                                <svg *ngIf="ordenar.columna != 'usuario_creacion'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [routerLink]="['/dashboard/ventas/detalles', venta._id]" class="animate__animated animate__fadeIn hover:bg-gray-100 cursor-pointer" *ngFor="let venta of ventas | paginate: {itemsPerPage: cantidadItems, currentPage: paginaActual}">
                                    <td class="px-5 py-2 border-b border-gray-200">
                                        <p class="text-gray-900 whitespace-no-wrap text-sm">
                                            {{ venta.createdAt | fecha }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200">
                                        <p class="text-gray-900 whitespace-no-wrap text-sm">
                                            {{ venta.forma_pago }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200">
                                        <p class="text-gray-900 whitespace-no-wrap text-sm">
                                            ${{ (venta.precio_total - venta.total_descuento + venta.total_adicional_credito) | moneda }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200">
                                        <p class="text-gray-900 whitespace-no-wrap text-xs">
                                            {{ venta.usuario_creacion }}
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="px-5 py-4 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between          ">
                            <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="paginaActual = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-tarjeta-lista>