<div class="pt-5 md:px-10">
    <div class='bg-secondary-800 flex items-center justify-between border shadow w-full p-2'>
        <div *ngIf="productos.length <= 0" class="text-white text-xl flex items-center justify-between p-1">
            <div> Carniceria Don Hilario </div>
        </div>
        <button *ngIf="authService.usuario.role == 'ADMIN_ROLE' && productos.length <= 0" routerLink="/dashboard/ventas/historial" class="border-2 flex items-center border-gray-800 p-2 focus:outline-none rounded bg-gray-100 hover:text-secondary-700 text-gray-700">
            <svg width="20 " height="20 " viewBox="0 0 24 24 " fill="none " stroke="currentColor " stroke-width="2 " stroke-linecap="round " stroke-linejoin="round " class="feather feather-database "><ellipse cx="12 " cy="5 " rx="9 " ry="3
            "></ellipse><path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3 "></path><path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5 "></path></svg>
            <span class="ml-1 "> Historal de ventas </span>
        </button>
        <div *ngIf="productos.length> 0">
            <button (click)="completarVenta()" class="p-2 flex items-center focus:outline-none shadow border-2 border-gray-800 rounded hover:text-secondary-700 bg-gray-100 text-gray-700 "> 
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                <span class="ml-1"> Completar venta </span>
            </button>
            <!-- <button (click)="modalReiniciarVenta()" class="p-2 shadow border rounded hover:bg-yellow-700 focus:outline-none bg-gray-800 text-white ml-2"> Reiniciar </button> -->
        </div>
        <div *ngIf="precioTotal > 0" class="border-2 border-gray-800 p-2 focus:outline-none bg-gray-100 text-gray-700 rounded">
            Total: ${{ precioTotal + totalAdicionalPorCredito - totalDescuentos | moneda }}
        </div>
    </div>
</div>
<div class="px-10 pt-2 md:flex">
    <div class="w-full md:w-1/2">
        <div class="border shadow bg-white">
            <h1 class="font-semibold mb-2 text-lg bg-secondary-800 text-white p-2 rounded-t"> Ingresar producto </h1>
            <div class="p-2 flex items-center">
                <input type="text" id="codigo" (keyup.enter)="buscarProducto()" [(ngModel)]="codigo" placeholder="Codigo de producto" class="border w-1/2 bg-white shadow rounded p-2 outline-none">
                <button (click)="buscarProducto()" class="ml-2 focus:outline-none border rounded shadow hover:text-secondary-800 text-gray-700 bg-gray-100 border-gray-300 p-2 w-1/2"> Cargar producto </button>
            </div>
        </div>
        <div class="bg-white rounded-t shadow mt-4">
            <p *ngIf="!productoActual && productos.length <= 0" class="text-gray-600 p-2"> Debe ingresar un producto </p>
            <div *ngIf="productoActual && productoVenta && productos.length > 0">
                <h1 class="font-semibold text-lg rounded-t bg-secondary-800 text-white py-1 px-2"> Producto cargado </h1>
                <div class="p-2">
                    <p class="text-lg font-semibold border-b-2 mb-2 pb-1"> {{ productoActual.descripcion }} </p>
                    <ul class="font-semibold">
                        <li> Precio: <span class="font-normal"> ${{ productoVenta.precio_total | moneda }} </span> </li>
                        <li> Unidad de medida: <span class="font-normal"> {{ productoActual.unidad_medida.descripcion }} </span> </li>
                        <li> Cantidad: <span class="font-normal"> {{ productoVenta.cantidad }} </span> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div *ngIf="productoActual && productoVenta && productos.length > 0" class="bg-white rounded-t shadow mt-4">
            <h1 class="font-semibold text-lg rounded-t bg-secondary-800 text-white py-1 px-2"> Detalles de pago </h1>
            <div class="p-4">
                <div>
                    <h1 class="font-semibold text-gray-700"> Forma de pago </h1>
                    <select (change)="calculoPrecioTotal()" [(ngModel)]="forma_pago" class="w-full border rounded shadow p-2 mt-2">
                        <option value="Efectivo"> Efectivo </option>
                        <option value="Debito"> Débito </option>
                        <option value="Credito"> Tarjeta de crédito (+10%) </option>
                        <option value="MercadoPago"> Mercadopago </option>
                    </select>
                </div>
                <div>
                    <h1 class="font-semibold text-gray-700 mt-4"> Descuento porcentual </h1>
                    <select (change)="calculoPrecioTotal()" [(ngModel)]="descuento_porcentual" class="w-full border rounded shadow p-2 mt-2">                
                        <option value=1> Sin descuento </option>
                        <option value=0.05> Descuento del 5% </option>
                        <option value=0.10> Descuento del 10% </option>
                    </select>
                </div>

                <div class="mt-2">
                    <h1 class="font-semibold text-gray-700 mt-4"> Calculadora de vuelto </h1>
                    <div class="flex items-center mt-2">
                        <div class="w-1/2">
                            <input type="number" [(ngModel)]="pago" (keyup)="calcularVuelto()" class="border p-2 w-full focus:outline-none shadow" placeholder="El cliente paga con ...">
                        </div>
                        <div class="w-1/2 ml-4">
                            <div class="border bg-gray-100 p-2 w-full border-gray-300 text-gray-800 text-center"> {{ pago === null ? "Debes colocar un valor" : '$' + (vuelto | moneda) }} </div>
                        </div>
                    </div>
                </div>

                <div class="p-2 mt-4 border-t">
                    <div class="flex items-center justify-between text-xl">
                        <span class="font-semibold"> Total a pagar </span>
                        <span class="font-semibold"> ${{ ( precioTotal + totalAdicionalPorCredito - totalDescuentos ) | moneda }} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="productos.length > 0" class="w-full md:w-1/2 border bg-white shadow rounded-t mt-4 md:mt-0 md:ml-4 h-full">
        <h1 class="font-semibold text-lg text-white bg-secondary-800 rounded-t p-2"> Detalle de venta </h1>
        <div *ngFor="let producto of productos" class="py-1 px-2 cursor-pointer">
            <div (click)="eliminarProducto(producto)" class="flex items-center justify-between rounded bg-yellow-100 border hover:bg-red-100 hover:border-red-300 border-yellow-300">
                <div class="p-2 text-sm">
                    <p class="font-semibold"> {{ producto.descripcion }} </p>
                    <p> Cantidad: {{ producto.cantidad }} ({{ producto.unidad_medida }}) </p>
                    <p> Precio: ${{ producto.precio_unitario }} </p>
                </div>
                <p class="font-semibold p-2"> ${{ producto.precio_total | moneda }} </p>
            </div>
        </div>
    </div>
</div>