<div class="mr-auto ml-auto text-center">
    <img class="w-full md:w-2/5 mr-auto ml-auto mt-4 shadow-lg border rounded-full" src="assets/img/Logo.png" alt="Logo Don Hilario">
    <div class="ml-auto mr-auto mt-2">
        <p class="text-xl font-semibold"> Carniceria Don Hilario </p>
        <p class="font-semibold"> Sistema de control de inventario </p>
        <!-- <p class="border rounded bg-white shadow px-2 py-1 w-max mr-auto ml-auto mt-2"> Versión 1.0.0 </p> -->
        <br>
        <a href="http://localhost:3000/docs/guia_usuario.pdf" target="_blank" class="cursor-pointer bg-white p-2 rounded hover:text-secondary-800 mt-3 border border-gray-300"> Descargar manual de usuario </a>
    </div>
    <br>
    <br>
</div>
